<!-- Reusable Search Box component which takes title as input and will output the text we searched on clicking submit -->
<!-- being used in repositories and users page -->

<div class="rpsty_banner">

    <!-- Title to display for what we are searching -->
    <div class="msg">
      {{title}}
    </div>

    <!-- Search Input box with submit icon -->
    <div class="flex_center">
        <div class="search_box">

            <input class="search_input" type="text" [(ngModel)]="searchText" (keyup.enter)="search()">
            <div class="flex_center search_icon">
                <mat-icon>search</mat-icon>
            </div>
            <div class='flex_center search_submit' (click)="search()" >
                <mat-icon>arrow_forward</mat-icon>
            </div>
        </div>
          
    </div>
    
</div>